<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    
  <title>tierra de bosques</title>

  <nav class="navbar bg-body-tertiary fixed-top shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Tierra de bosques</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <li>
            <a href="{% url 'listado' %}">{{ user.username }}</a>
          </li>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
            </li>
            
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">cerrar session</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'login' %}">iniciar sesion</a>
          </li>
          {% endif %}
          </ul>

          

      
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>

</head>
<body>

    <div class="jumbotron">
        <h1 class="display-3">Replica electrica</h1>
        <hr class="my-2">
        <br>
        <p >
            Los modelos de armas eléctricas son los más comunes en el mercado y dependen de una batería eléctrica para funcionar. Considerada el arma estándar de los jugadores, puede ser automática o semiautomática.

El accionamiento de la munición se produce por medio de un sistema electromecánico, es decir, la energía de la batería gira los engranajes y comprime el muelle para realizar el disparo.

El principal modelo de arma eléctrica es el rifle, que se asemeja a las armas del ejército y aún tiene la mejor relación calidad-precio. Además, es muy versátil, pues puede ser utilizado tanto en ambientes CQB como en campos abiertos.

También muy utilizada por los jugadores, la pistola eléctrica es una opción que trae firmeza y practicidad. Por ser compacta, tiene la ventaja sobre el rifle en cortas distancias y en ambientes muy cerrados, como el CQB, además, tiene bajo costo de mantenimiento.
    </p>
    
    
    </div>
    
</body>
</html>